$font-stack: 'Arial', sans-serif;
$color-primary: #eee;
$color-secondary: #ffbfcb;
$days-in-month: 31;
$days-in-weeks: mon, tue, wed, thu, fri, sat, sun;
$length-in-month: 28, 29, 30;
$day-size: 100px;
