$font-stack: 'Arial', sans-serif;
$color-primary: #eee;
$color-secondary: #ffbfcb;
$days-in-month: 31;
$name-days: mon, tue, wed, thu, fri, sat, sun;
$days-in-weeks: (
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 0,
);
$length-in-month: 28, 29, 30, 31;
$day-size: 100px;
$gap: 1px;
$padding: 10px;
$width: calc((#{$day-size} * 7) + (6 * #{$gap}) + (2 * #{$gap}));
$font-size: 30px;
