$font-stack: 'Arial', sans-serif;
$color-primary: #eee;
$color-secondary: #ffbfcb;
$days-in-month: 31;
$days-in-weeks: 1, 2, 3, 4, 5, 6, 0;
$length-in-month: 28, 29, 30, 31;
$day-size: 100px;
$width: calc((100px * 7) + (6 * 1px) + (20px));
$font-size: 30px;
$margin-left: calc(100px + 20px);
$gap: 1px;
$padding: 10px;
